.popup
  .container
    .block style="width: 600px;"
      .header
        | Прототип веб-приложения по трансляции текстовых, аудио и видеоконференций
      .content
        .label
          | Список доступных комнат
        ul.room_list
          - RtcRoom.all.each do |room|
            li
              = link_to room.name, "/rooms?rtc_room_id=#{room.alias}"
