.popup
  .container
    .block
      .header
        | Комната &nbsp;"
        = @room.name
        | "
      .content
        .label
          | Доступ к конференции
        form method="GET" action="" id="enter"
          = hidden_field_tag "room_alias", @room.alias
          .field
            input id="name" type="text" placeholder="Введите имя"
          input.btn.blue_btn type="submit" value="Войти"

.interface
  .header
    .content
      .title
        = "Комната #{@room.alias}"
      .icon.icon-exit data-alias="#{@room.alias}" style="display: none;"

  .body

    .sidebar
      .users
        .content
          .icon.icon-cogwheel
          .header_block
            | Пользователи
          table


      .web_cams
        .content
          .header_block
            | Веб-камеры
            #fullsize
              | Изменить размер
          ul#webs

    .presentation
      .content
        .header_block
          | Презентация: default.pdf
        .present_block
          ul#desktops
    .chat
      .content
        .header_block
          | Чат
        .frame
          .messages
            ul
          form
            textarea
            input type="submit"

  .presentation_global
    .content
      .header_block
        | Презентация: default.pdf
        .icon.icon-zoom.close
      .present_block
        = image_tag "web.png"