// Стили кнопок
.btn {
  cursor: hand;
  text-align: center;
  padding: 7px 20px 7px 20px;
  font-size: 12px;
  text-decoration: none;
  &.icon {
    &:before {
      margin: 0 5px 0 0;
    }
  }
}
// Примеси
%blue_btn {
  background-color: $bg_color_5;
  border: 1px solid $border_color_2;
  color: $text_color_1;
  @include inset_box_shadow(1px, 1px, 0, 0, $bg_color_6);
  &:hover {
    background-color: $bg_color_6;
  }
}
%red_btn {
  background-color: $bg_color_7;
  border: 1px solid $border_color_3;
  color: $text_color_1;
  @include inset_box_shadow(1px, 1px, 0, 0, $bg_color_11);
  &:hover {
    background-color: $bg_color_11;
  }
}
%grey_btn {
  background-color: $bg_color_14;
  border: 1px solid $border_color_9;
  color: $text_color_10;
  @include inset_box_shadow(1px, 1px, 0, 0, $bg_color_15);
  &:hover {
    background-color: $bg_color_15;
  }
}

// Классы
.blue_btn {
  @extend %blue_btn;
}
.red_btn {
  @extend %red_btn;
}
.grey_btn {
  @extend %grey_btn;
}