#easyrtcErrorDialog {
  display: none !important;
}

#fullsize {
  color: white;
  font-size: 12px;
  float: right;
  text-decoration: underline;
  cursor: hand;
  padding-right: 15px;
}

.fullsize_webcams {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: 10000;
}

.change_visible {
  #fullsize {
    display: none;
  }
  li {
    display: none;
    &.active {
      display: block;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.room_list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  li {
    width: 100%;
    background: $bg_color_4;
    &:nth-child(odd) {
      background: $bg_color_3;
    }
    a {
      padding: 5px 0 5px 0;
      display: block;
      width: 100%;
      text-align: center;
      color: $text_color_2;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        background: $bg_color_1;
        color: white;
      }
    }
  }
}

.interface {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 40px 5px 5px 5px;
  background: $bg_color_10;
  @extend %shadow;
  .header_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 0 0 10px;
    font-size: 13px;
    color: $text_color_1;
    background: $bg_color_1;
    .icon {
      position: absolute;
      top: 8px;
      right: 5px;
      font-size: 22px;
      cursor: hand;
    }
  }
}

.header {
  width: 100%;
  height: 5%;
  box-sizing: border-box;
  position: relative;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
  .content {
    padding: 0;
    background-color: $bg_color_8;
    position: relative;
    .title {
      position: relative;
      top: 8px;
      text-align: center;
      color: $text_color_1;
    }
    .icon {
      right: 10px;
      top: 8px;
      color: white;
      position: absolute;
      font-size: 36px;
      cursor: hand;
    }
  }
}

.body {
  height: 95%;
  width: 100%;
  .sidebar {
    width: 25%;
    height: 100%;
    float: left;
    .users   {
      width: 100%;
      height: 60%;
      box-sizing: border-box;
      padding: 5px;
      .icon {
        font-size: 32px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        cursor: hand;
      }
      table {
        box-sizing: border-box;
        width: 100%;
        font-size: 12px;
        display: block;
        tr {
          width: 100%;
          th {
            background: $bg_color_1;
            color: $text_color_1;
            padding: 5px;
            border-right: 1px solid $border_color_1;
            &:last-child {
              border-right: 1px solid $bg_color_1;
            }
          }
          td {
            text-align: center;
            padding: 4px 2px 4px 2px;
            border-right: 1px solid $border_color_1;
            height: 25px;
            &:first-child {
            border-left: 1px solid $border_color_1;
            }
          }
          &:nth-child(odd) {
            background: #E8E8E8;
          }
          &:last-child {
            border-bottom: 1px solid $border_color_1;
          }
        }
      }
    }
    .web_cams {
      width: 100%;
      height: 40%;
      box-sizing: border-box;
      padding: 5px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          width: 33.33333%;
          float: left;
          height: 40%;
          padding: 5px;
          box-sizing: border-box;
          .frame {
            width: 100%;
            height: 100%;
            background: $bg_color_4;
            padding: 15px 0 0 0;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            @extend %shadow;
            video {
              z-index: 100;
              width: 100%;
              height: 100%;
            }
            .header_block {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 15px;
              font-size: 10px;
              padding-top: 0;
              background-color: $bg_color_1;
              .icon {
                font-size: 16px;
                top: 2px;
                right: 2px;
              }
            }
          }
        }
      }
    }
  }
  .presentation {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    .present_block {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          width: 33.33333%;
          float: left;
          height: 40%;
          padding: 5px;
          box-sizing: border-box;
          .frame {
            width: 100%;
            height: 100%;
            background: $bg_color_4;
            padding: 15px 0 0 0;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            @extend %shadow;
            video {
              z-index: 100;
              width: 100%;
              height: 100%;
            }
            .header_block {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 15px;
              font-size: 10px;
              padding-top: 0;
              background-color: $bg_color_1;
              .icon {
                font-size: 16px;
                top: 2px;
                right: 2px;
              }
            }
          }
        }
      }
      padding: 40px 20px 20px 20px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .chat {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    .messages {
      height: 90%;
      overflow-y: scroll;
      border: 1px solid $border_color_1;
      padding: 10px;
      box-sizing: border-box;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0 0 20px 0;
          .header_message {
            font-size: 13px;
            border-bottom: 1px solid $border_color_1;
            padding: 0 0 5px 0;
            font-weight: bold;
            .date {
              margin: 0 10px 0 0;
            }
            .name {
              margin: 0 0 0 10px
            }
          }
          .content_block {
            margin: 5px 0 5px 0;
            font-size: 14px;
          }

        }
      }
    }
    form {
      width: 100%;
      height: 10%;
      box-sizing: border-box;
      padding: 10px;
      textarea {
        width: 79%;
        height: 100%;
        resize: none;
      }
      input[type=submit] {
        margin: 0 0 0 1%;
        width: 20%;
        position: relative;
        top: 22px;
        vertical-align: top;
      }
    }
  }
}

.presentation_global {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  img {
    width: 100%;
    height: auto;
  }
}

