// Формы и поля
form {
  margin: 0 0 0 0;
  .section_label {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $border_color_7;
    font-size: 15px;
    font-weight: lighter;
  }
  .field {
    margin: 0 0 15px 0;
    label, input, select, textarea {
      font-size: 11px;
      border: 1px solid $border_color_1;
      box-sizing: border-box;
      display: block;
      float: left;
      color: $text_color_2;
    }
    label {
      background-color: $bg_color_4;
      border-right: 0;
      padding: 9px 10px 9px 10px;
      @include border_radius(1px, 0, 0, 1px);
      width: 20%;
    }
    input {
      background-color: $text_color_1;
      padding: 9px 10px 9px 10px;
      @include border_radius(0, 1px, 1px, 0);
      width: 100%;
      text-align: center;
    }
    @extend %clearfix;
  }
  // Поле "Кнопка Submit"
  input[type=submit] {
    font-size: 12px;
  }
}