@font-face {
  font-family: "icon-font";
  src:url("icon-font.eot");
  src:url("icon-font.eot?#iefix") format("embedded-opentype"),
  url("icon-font.woff") format("woff"),
  url("icon-font.ttf") format("truetype"),
  url("icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

%system_icon_font {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  @extend %system_icon_font;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %system_icon_font;
}

.icon-exit:before {
  content: "a";
}
.icon-zoom:before {
  content: "b";
}
.icon-cogwheel:before {
  content: "c";
}