// Стили popup-элементов

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  .container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
    .block {
      margin: 0 auto;
      background: $bg_color_10;
      width: 300px;
      height: auto;
      text-align: center;
      @extend %shadow;
      @extend %border_radius;
      .header {
        background-color: $bg_color_1;
        padding: 15px;
        border-bottom: 1px solid $bg_color_2;
        text-align: center;
        font-size: 14px;
        color: $text_color_1;
      }
      .flash {
        position: relative;
        padding: 10px 10px 10px 20px;
        font-size: 11px;
        border: 1px solid $border_color_1;
        background-color: $bg_color_4;
        @include box_shadow(0, 0, 1px, 0, $shadow_color_1);
        .icon {
          top: -1px;
          left: -1px;
          position: absolute;
          width: 10px;
          height: 35px;
          background-color: $bg_color_7;
          border: 1px solid $border_color_3;
        }
      }
      .content {
        padding: 20px;
        .label {
          font-size: 13px;
          margin: 0 0 15px 0;
        }
      }
    }
  }
}