html
  head
    title
      | Builds
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.blue_interface
    .frame
      header
        .label
          = t("headers.system_name")
      aside
        .user
          .image
            = image_tag current_system_user.avatar.url(:thumb)
          .text
            .login
              = current_system_user.login
            .state
              .icon
              | В сети
        nav
          = render_menu(@menu_items)
      .content
        .header
          .label
            = (!@module_item.nil?) ? @module_item.name : ""
        .block
          = yield
